<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>동적폼전송 실습</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <button onclick="handleSubmit()">전송</button>
  <hr>
  <h3>폼 전송 - 실습</h3>
  <fieldset>
    <label for="name">이름 <input type="text" name="name" id="name" /></label>
    <br>

    성별
    <label for="male"
    >남자<input type="radio" name="gender" id="male" value="male"
    /></label>
    <label for="female"
    >여자<input type="radio" name="gender" id="female" value="female"
    /></label>
    <br>

    생년월일
    <select name="year" id="year">
      <option value="1950">1950</option>
      <option value="1951">1951</option>
      <option value="1952">1952</option>
    </select>
    년

    <select name="month" id="month">
      <th:block th:each="num : ${#numbers.sequence(1, 12)}">
        <option th:text="${num}" th:value="${num}"></option>
      </th:block>
    </select>
    월

    <select name="day" id="day">
      <th:block th:each="num : ${#numbers.sequence(1, 31)}">
        <option th:text="${num}" th:value="${num}"></option>
      </th:block>
    </select>
    일
    <br>


    관심사
    <label for="trip"
    ><input type="checkbox" name="hobby" id="trip" value="trip" />
      여행</label
    >
    <label for="fashion"
    ><input type="checkbox" name="hobby" id="fashion" value="fashion" />
      패션</label
    >
    <label for="food"
    ><input type="checkbox" name="hobby" id="food" value="food" />
      음식</label
    >
  </fieldset>

  <script>
    function handleSubmit() {
      var name = document.getElementById('name').value;
      var gender = document.querySelector('input[name="gender"]:checked').value;
      var birthYear = document.getElementById('year').value;
      var birthMonth = document.getElementById('month').value;
      var birthDay = document.getElementById('day').value;
      var hobby = [];
      document.querySelectorAll('input[name="hobby"]:checked').forEach(el => {
        hobby.push(el.value);
      });
      const formData = {
        name: name,
        gender: gender,
        birth: `${birthYear}년 ${birthMonth}월 ${birthDay}일`,
        hobby: hobby
      }
      console.log(formData);
      axios.post('/axios/dynamicForm', formData)
              .then((res)=>{
                console.log( res );
                console.log( res.data, " 회원가입 성공" );
              });
    }
  </script>
</body>
</html>